.bg-blue {
    background-color: #0281CA;
}
.bg-purple {
    background-color: #451F8F;
}
.bg-pink {
    background-color: #FFDDFB;
}
.bg-red {
    background-color: #EE3939;
}
.bg-green {
    background-color: #8AFCA2;
}
.bg-brown {
    background-color: #63413D;
}
.bg-orange {
    background-color: #F58C2F;
}
.bg-yellow {
    background-color: #FCF079;
}
.bg-lightwhite {
    background-color: #F7F7F7;
}
.bg-lightblack {
    background-color: #2E2E2E;
}