.image_container {
    border: 1px solid transparent;
    padding: 5px;
}
.image {
    height: 505px;
    background-image: url('animage.jpg');
    background-position: center;
    background-size: cover;
}
.img-blur {
    height: 100%;
    opacity: 0.50;
}
