body {
    margin-top: 0;
}
/* framework fonts */
@font-face {
    font-family: basefont;
    src: url('framework fonts/RobotoSlab-Regular.ttf');
}
* {
    /* makes every element has a box-sizing of border box */
    box-sizing: border-box;
}
/* navigation systems */
.nav_yakine {
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: #F5F5F5;
    margin: 0 auto;
    padding: 10px;
}
/* makes the navigation aligned to right */
.nav_yakine-right {
    float: right;
}
/* makes the navigation aligned to left */
.nav_yakine-left {
    margin: 0;
}
/* navigation items */
.nav_item {
    flex-basis: 50%;
    text-align: center;
    font-family: basefont;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    transition: 100ms all linear;
    color: #4F4F4F;
}
/* hover effect */
.nav_item:hover {
    cursor: pointer;
    background-color: transparent;
    color: #464646;
}
/* navigation items ordering classes */
.item-first {
    order: 1;
}
.item-second {
    order: 2;
}
.item-third {
    order: 3;
}
/* makes your navigation vertical */
.nav-vertical {
    flex-direction: column;
}
/* making the navigation responsive for various screen sizes */
@media(max-width: 425px) {
    .nav_item {
        font-size: 25px;
        border-right: 1px solid #F5F5F5;
        border-left: 1px solid #F5F5F5;
    }
    .nav-vertical .nav_item {
        border-top: 1px solid #F5F5F5;
        border-bottom: 1px solid #F5F5F5;
    }
    .nav_yakine {
        width: 100%;
    }
}
