/* this framework is under development and it actually isn't meant to be used by other developers because it may not be stable yet */
/* sets the default framework font 'Raleway' */
@font-face {
    font-family: Yakine-framework-Raleway;
    src: url('framework fonts/Raleway-ExtraBold.ttf');
}
* {
    font-family: Yakine-framework-Raleway;
}
/* background-colors */
.bg-blue {
    background-color: #0281CA;
}
.bg-purple {
    background-color: #451F8F;
}
.bg-pink {
    background-color: #FFDDFB;
}
.bg-red {
    background-color: #EE3939;
}
.bg-green {
    background-color: #8AFCA2;
}
.bg-brown {
    background-color: #63413D;
}
.bg-orange {
    background-color: #F58C2F;
}
.bg-yellow {
    background-color: #FCF079;
}
.bg-lightwhite {
    background-color: #F7F7F7;
}
.bg-lightblack {
    background-color: #2E2E2E;
}
/* navigation systems */
body {
    margin-top: 0;
}
/* framework fonts */
@font-face {
    font-family: basefont;
    src: url('framework fonts/RobotoSlab-Regular.ttf');
}
* {
    /* makes every element has a box-sizing of border box */
    box-sizing: border-box;
}
/* navigation systems */
.nav_yakine {
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: #F5F5F5;
    margin: 0 auto;
    padding: 10px;
}
/* makes the navigation aligned to right */
.nav_yakine-right {
    float: right;
}
/* makes the navigation aligned to left */
.nav_yakine-left {
    margin: 0;
}
/* navigation items */
.nav_item {
    flex-basis: 50%;
    text-align: center;
    font-family: basefont;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    transition: 100ms all linear;
    color: #4F4F4F;
}
/* hover effect */
.nav_item:hover {
    cursor: pointer;
    background-color: transparent;
    color: #464646;
}
/* navigation items ordering classes */
.item-first {
    order: 1;
}
.item-second {
    order: 2;
}
.item-third {
    order: 3;
}
/* makes your navigation vertical */
.nav-vertical {
    flex-direction: column;
}
/* making the navigation responsive for various screen sizes */
@media(max-width: 425px) {
    .nav_item {
        font-size: 25px;
        border-right: 1px solid #F5F5F5;
        border-left: 1px solid #F5F5F5;
    }
    .nav-vertical .nav_item {
        border-top: 1px solid #F5F5F5;
        border-bottom: 1px solid #F5F5F5;
    }
    .nav_yakine {
        width: 100%;
    }
}
/* makes an image container */
.image_container {
    border: 1px solid transparent;
    padding: 5px;
}
/* this is where the image is set as a background */
/* the background-image height is 500px by default */
.image {
    height: 500px;
    background-image: url('animage.jpg');
    background-position: center;
    background-size: cover;
}
/* makes the image smaller by 50% */
.img-small {
    height: 300px;
}
/* a simple image blur effect */
.img-blur {
    height: 100%;
    opacity: 0.50;
}
/* text colors, they're the same as bg-colors but for text */
.blue {
    color: #0281CA;
}
.purple {
    color: #451F8F;
}
.pink {
    color: #FFDDFB;
}
.red {
    color: #EE3939;
}
.green {
    color: #8AFCA2;
}
.brown {
    color: #63413D;
}
.orange {
    color: #F58C2F;
}
.yellow {
    color: #FCF079;
}
.lightwhite {
    color: #F7F7F7;
}
.lightblack {
    color: #2E2E2E;
}
